a {
  text-decoration: none;
}

.logo-1 {
    width: 90px !important;
  }

  .navbar-color {
    background-color: #003049;
  }
  *{
    font-family: 'Questrial', sans-serif;
  }
.texto-1{
display: flex;
justify-content: space-around;
align-items: center;
color: #FCBF49;
margin-right: 25vh;
}
.titulo{
font-size: 60px;
font-family: Arial, Helvetica, sans-serif;
}
.volver{
border: none;
background-color: #003049;
font-size: 25px;
color: #FCBF49;

}
.centro-pag{
width: 100%;
height: 1100px;
}
.tex-ini{
font-size: 40px;
margin-left: 250px;
margin-top: 50px;
}
.segundo-texto{
display: flex;
justify-content: center;
margin-top: 60px;
}
.segundo-texto{
display: flex;
flex-direction: column;
}
.nombre{
font-size: 35px;
display: flex;
justify-content: center;
}
.espacio-nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 30px;
    border-radius: 20px 0 20px 0;
    border: 1px solid #d62828;
    background-color: rgba(107, 107, 107, 0.112);
}

.caja-central{
background-color: white;
width: 100%;
height: 500px;
}

.img-logo{
width: 500px;
height: 500px;
}
.carga-tu-logo{
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: flex-start;
}
.caja-logo{
width: 300px;
height: 300px;
border-radius: 20px 0 20px 0;
border: 1px solid #d62828;
margin-top: 20px;
background-color: rgba(107, 107, 107, 0.112);
}
.subir-img{
display: flex;
justify-content: center;
margin-top: 20px;
border-radius: 20px 0 20px 0;
background-color: #003049;
color: #FCBF49;
}
.img-productos{
    display: flex;
    width: 500px;
    height: 500px;   
}
.carga-tus-productos{
    font-size: 25px;
    display: flex;
    justify-content: flex-start;

}
.instruccion-2{
    font-size: 25px;
    display: flex;
    justify-content: flex-start;}

.caja-producto{
width: 300px;
height: 300px;
margin-top: 20px;
border-radius: 18px 0 18px 0;
    border: 1px solid #d62828;
border-radius: 20px 0 20px 0;
background-color: rgba(107, 107, 107, 0.112);
}
.subir-pro{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20px 0 20px 0;
background-color: #003049;
color: #FCBF49;
}
.form-products{
    display: flex;
    width: 500px;
    height: 500px;
    }
.formulario-productos{
margin-left: 60px;
margin-top: 50px;
}
.text-3{
font-size: 25px;
}


.instruccion-3{
font-size: 18px;
display: flex;
justify-content: flex-start;
}
.form-prod-1{
width: 300px;
margin-top: 10px;
border-radius: 16px 0 16px 0;
border-radius: 16px 0 16px 0;
border: 1px solid #d62828;
background-color: rgba(107, 107, 107, 0.112);
}
.form-prod-2{
width: 300px;
height: 80px;
margin-top: 10px;
border-radius: 16px 0 16px 0;
border-radius: 16px 0 16px 0;
border: 1px solid #d62828;
background-color: rgba(107, 107, 107, 0.112);
}
.cargar-pro{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-radius: 20px 0 20px 0;
background-color: #003049;
color: #FCBF49;
width: 250px;
height: 50px;
font-size: 28px;
margin-top: 60px;
}
/* ==================================FOOTER=============================== */

.footer-container {
    width: 60%;
    flex-wrap: wrap;
    color: #fcbf49;
  }
  
  #footer{
    background-color: #003049;
    color: #fcbf49;
  }
  #footer, a{
    
    color: #fcbf49 !important;
  }