a {
  text-decoration: none;
  color: #003049;
  font-weight: bold;
}

p,
h2 {
  color: #003049 !important;
}

.logo-1 {
  width: 90px !important;
}
.navbar-button {
  color: #fcbf49;
  border: solid 2px !important;
}
.navbar-color {
  background-color: #003049;
}

.container-menu {
  background-color: #003049 !important;
  border-radius: 0 10px 0 10px !important;
}
.text-color-yellow {
  color: #fcbf49 !important;
}

.boton-buscar {
  background-color: white;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  border-color: white !important;
  border-right: white !important;
  height: 40px !important;
}
.espacio-buscar {
  background-color: white;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-color: none !important;
  height: 40px !important;
  margin-left: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  border-left: white;
  border: none;
}

.elemento-menu {
  color: #fcbf49;
  list-style: none !important;
  text-decoration: none !important;
}

/* =========================== CENTRO DE LA PAGINA - MAIN===================================== */

.imagen-container {
  border-bottom: 0.5px solid #d62828;
  width: 90%;
}

.imagen-personas {
  width: 100%;
  height: 300px;
  padding-bottom: 100px;
  background-image: url(img-pas-1/img-comunidad.JPG);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 40px 0 40px 0;
}

.emprender {
  color: #003049;

  text-align: center;

  font-weight: bold;
  line-height: 90%;
}

.transparencia {
  margin-top: 80px !important;
  background-color: aqua;
  width: 50%;
  height: 120px;
  border-radius: 40px 0 40px 0;
}
.glass-effect {
  background-color: #fcf9f93a;
  backdrop-filter: blur(0.5rem);
}

.button-crea-cuenta {
  color: #003049;
  margin-top: 90px;
  background-color: #fcbf49;
  width: 200px;
  height: 50px;
  border-radius: 20px 0 20px 0;
  border: none;
}

.button-crea-cuenta:hover {
  background-color: #003049;
  color: #fcbf49;
}

/* ============================SCROLL EMPRENDEDORES ===================================== */

.scroll-container {
  margin: auto;
  margin-top: 30px;

  width: 70%;
  height: 350px;
  overflow-x: auto;
}

.scroll-horizontal {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  width: 200px;
  height: 200px;
}
/* =============================================SCROLL HORIZONTALES ============================================ */
article::-webkit-scrollbar {
  border-radius: 10px 0 10px 0;
}

article::-webkit-scrollbar-track {
  
  border-radius: 10px 0 10px 0;
}

article::-webkit-scrollbar-thumb {
  background-color: #003049;
  border-radius: 10px 0 10px 0;
  height: 5px;
  border: 3px solid white;
}

/* =====================================SCROLL VERTICAL===================== */
body::-webkit-scrollbar {
  border-radius: 10px 0 10px 0;
}
body::-webkit-scrollbar-track {
  border-radius: 10px 0 10px 0;
}
body::-webkit-scrollbar-thumb {
  background-color: #003049;
  border-radius: 10px 0 10px 0;

  border: 3px solid white;
}

/* ===============================IMAGENES EMPRENDEDORES POSTRES ===================================== */

.scroll-imagen1 {
  background-image: url(img-pas-1/logo-pasteleria-1.jpg);
}

.scroll-imagen2 {
  background-image: url(img-pas-1/logo\ pasteleria\ 2.jpg);
}

.scroll-imagen3 {
  background-image: url(img-pas-1/logo\ pasteleria\ 3.png);
}

.scroll-imagen4 {
  background-image: url(img-pas-1/logo-pasteleria-4.jpg);
}

.scroll-imagen5 {
  background-image: url(img-pas-1/logo\ pasteleria\ 5.png);
}

.scroll-imagen6 {
  background-image: url(img-pas-1/logo\ pasteleria\ 6.jpg);
}

.scroll-imagen7 {
  background-image: url(img-pas-1/logo\ pasteleria\ 7.png);
}

.scroll-imagen8 {
  background-image: url(img-pas-1/logo\ pasteleria\ 8.png);
}

.scroll-media {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 0 40px 30px;
  border-radius: 20px 0 20px 0;
  border: #d62828 1px solid;
}

/* ============================SCROLL EMPRENDEDORES ===================================== */

.scroll-container {
  margin: auto;
  margin-top: 30px;

  width: 70%;
  height: 350px;
  overflow-x: auto;
}

.scroll-horizontal {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  width: 200px;
  height: 200px;
}

article::-webkit-scrollbar {
  border-radius: 10px 0 10px 0;
}

article::-webkit-scrollbar-track {
  
  border-radius: 10px 0 10px 0;
}

article::-webkit-scrollbar-thumb {
  background-color: #003049;
  border-radius: 10px 0 10px 0;
  height: 5px;
  border: 3px solid white;
}

/* ===============================IMAGENES EMPRENDEDORES COMIDA RAPIDA ===================================== */

.scroll-imagen-cr1 {
  background-image: url(img-pas-1/comida\ rapida\ 1.png);
}

.scroll-imagen-cr2 {
  background-image: url(img-pas-1/comida\ rapida\ 2.png);
}

.scroll-imagen-cr3 {
  background-image: url(img-pas-1/comida\ rapida\ 3.jpg);
}

.scroll-imagen-cr4 {
  background-image: url(img-pas-1/comida\ rapida\ 4.jpg);
}

.scroll-imagen-cr5 {
  background-image: url(img-pas-1/comida\ rapida\ 5.jpg);
}

.scroll-imagen-cr6 {
  background-image: url(img-pas-1/comida\ rapida\ 6.jpg);
}

.scroll-imagen-cr7 {
  background-image: url(img-pas-1/comida\ rapida\ 7.png);
}

.scroll-imagen-cr8 {
  background-image: url(img-pas-1/comida\ rapida\ 8.jpg);
}

.scroll-media {
  position: center;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 0 40px 30px;
  border-radius: 20px 0 20px 0;
  border: #d62828 1px solid;
}

/* ==================================FOOTER=============================== */

.footer-container {
  width: 60%;
  flex-wrap: wrap;
}

/* ===================================CONTACTANOS FORMULARIO =============================== */

.contact-container {
  max-width: 960px;
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background: #003049;
  box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
  border-radius: 40px 0 40px 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 600ms;
}

.contact-container:target {
  background: rgba(0, 0, 0, 0.8);
  visibility: visible;
  opacity: 1;
}

.form-container {
  padding: 20px;
}

.form-container h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fcbf49;
  text-align: center;
}

.contact-form {
  display: grid;
  row-gap: 1rem;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  outline: none;
  background: #ffffff;
  color: #003049;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 20px 0 20px 0;
}

.contact-form textarea {
  resize: none;
  height: 200px;
}
.contact-form .send-button {
  border: none;
  outline: none;
  background: #fcbf49;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
}

.contact-form .send-button:hover {
  background: #003049;
  color: #fcbf49;
  border: solid 1px #fcbf49;
}

.map iframe {
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem;
  border-radius: 10px 0 10px 0;
}
/* ================== x PARA CERRAR FORMULARIO DE CONTACTO==================== */

.btn-close-popup {
  position: absolute;
  right: 2%;
  top: 2%;
  padding: auto;

  color: #fcbf49;
  border-radius: 50%;
  line-height: 10px;
}

/* RESPONSIVE */

@media (max-width: 964px) {
  .contact-container {
    margin: 0 auto;
    width: 90%;
  }
}

/* ======================= UBICACION FORMULARIO CONTACTO ===================== */

#contact-us {
  z-index: 1;

  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -100%);
}
